
.header-navbar {
justify-content: space-between; 
position: relative;
flex-wrap: wrap;
font-size: x-large;
align-items: center;
display: flex;
padding-left: 50px;
}
.button{
    padding-left: 50px;
    margin-bottom: 0px;
    color: black;
}

.card{
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
    position: relative;
}
.navbar{

    display: flex;
    list-style: none;
    gap: 20px;
}

.navbar li{
    font-size: smaller;
    text-decoration: none;
    display: flex;
}
.heading{
    display: flex;
}
/* .ulist{
    position:absolute;
    top:10px;
    right: 30px;
    display: flex;
    list-style-type: none;
     /* justify-content: space-around; */
    /* gap: 20%;    
} */ */
 .para{
    padding-right: 100px;
    font-size: larger;
    font-style: italic;

 }
.botton{
    font-size: larger;
    background-color: black;
    color: white;
    border-radius: 5px;
}
.image{
    position: absolute;
    top: 100px;
right: 70px;
}
.header-logo{
    border: 1px solid black;
    border-radius: 3px;
    font-size: larger;
    font-style: italic;
    margin: 5px;
    padding-left: 10px;

}
.heading{
    margin: 5px;
    padding-left: 10px;
    border: 1px solid black;
    border-radius: 3px;
    font-size: larger;
    font-style: italic;

}
  .subscribe-btn{
        height: 40px;
        width: 250px;
        font-size: larger;
        color: white;
        background-color: blue;
        margin-bottom: 20px;
        border-radius: 10px;
        padding:20px;
    }

/* .meet button{
    border: 1px solid rgb(red, rgb(128, 0, 70), blue);
background-color: azure;
color: white;
border-radius: 10px;
width: 200px;
height: 50px;
font-size: larger; */



.list{
display: inline-block;
height: 50px;
width: 600px;
gap: 5px;

}
.men{
    background-color: aquamarine;
    border: 1px solid aqua;
    border-radius: 8px;
    justify-content: space-around;
    text-align: center;
}

.women{
    background-color:burlywood;
    border: 1px sandybrown;
    border-radius: 8px;
    justify-content: space-around;
    text-align: center;
}
.men img{
    position: relative;
    border-radius: 50px;
}
.women img{
    position: relative;
    border-radius: 50px;
}


.project{
    height: 400px;
    width: auto;
    border: 1px solid black;
    border-radius: 3px;
    font-size: xx-large;
    font-style: italic;
    margin: 5px;
    padding-left: 10px;
    font-size: smaller;
}

.idea{
    width: 900px;
    height: 150px;

}
.subscribe-btn{
    height: 40px;
    width: 250px;
    font-size: larger;
    color: white;
    background-color: blue;
    margin-bottom: 20px;
    border-radius: 10px;
    padding:20px;
}
.para image{
    position: relative;
    border-radius: 50px;
}
.meet.btn{
    background-color: blueviolet;
    color: blueviolet;
    align-content: space-around;

}


